<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />
  </configSections>
  <connectionStrings>
    <add name="SchoolContext"
         connectionString="Server=(localdb)\mssqllocaldb;Database=ContosoUniversity;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages enableViewState="true" enableSessionState="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Admin/Login.aspx" timeout="30" />
    </authentication>
    <sessionState mode="Custom" customProvider="SystemWebAdaptersSessionProvider" timeout="20">
      <providers>
        <add name="SystemWebAdaptersSessionProvider" type="Microsoft.AspNetCore.SystemWebAdapters.SessionState.SessionStateProvider, Microsoft.AspNetCore.SystemWebAdapters.SessionState" connectionStringName="SchoolContext" />
      </providers>
    </sessionState>
    <!-- SystemWebAdapters remote endpoint for session/auth bridge -->
    <appSettings>
      <add key="SystemWebAdapters:RemoteAppUrl" value="https://localhost:5001" />
      <add key="SystemWebAdapters:DataProtection:KeyRingPath" value="C:\KeyRings\PowerKeyRing" />
    </appSettings>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
